# Data load

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_1102=pd.read_csv("././ë°ì´í„°ì›ë³¸/Youtube1102.csv",encoding="cp949",header=None)
df_1103=pd.read_csv("././ë°ì´í„°ì›ë³¸/Youtube1103.csv",encoding="cp949",header=None)
df_1105=pd.read_csv("././ë°ì´í„°ì›ë³¸/Youtube1105.csv",encoding="cp949",header=None)
df_1106=pd.read_csv("././ë°ì´í„°ì›ë³¸/Youtube1106.csv",header=None)
df_1107=pd.read_csv("././ë°ì´í„°ì›ë³¸/Youtube1107.csv",header=None)
df_1108=pd.read_csv("././ë°ì´í„°ì›ë³¸/Youtube1108.csv",header=None)
df_1109=pd.read_csv("././ë°ì´í„°ì›ë³¸/Youtube1109.csv",header=None)
df_1110=pd.read_csv("././ë°ì´í„°ì›ë³¸/Youtube1110.csv",header=None)
df_1111=pd.read_csv("././ë°ì´í„°ì›ë³¸/Youtube1111.csv",header=None)
df_1112=pd.read_csv("././ë°ì´í„°ì›ë³¸/Youtube1112.csv",header=None)
df_1113=pd.read_csv("././ë°ì´í„°ì›ë³¸/Youtube1113.csv",header=None)
df_1114=pd.read_csv("././ë°ì´í„°ì›ë³¸/Youtube1114.csv",header=None)

In [3]:
# í–‰ê³¼ ì—´ ì „ì¹˜

df_1102=df_1102.transpose()
df_1103=df_1103.transpose()
df_1105=df_1105.transpose()
df_1106=df_1106.transpose()
df_1107=df_1107.transpose()
df_1108=df_1108.transpose()
df_1109=df_1109.transpose()
df_1110=df_1110.transpose()
df_1111=df_1111.transpose()
df_1112=df_1112.transpose()
df_1113=df_1113.transpose()
df_1114=df_1114.transpose()

In [5]:
df_1108.head()

,0,1,2,3,4,5,6
0,2479148,2020. 11. 6.,6.9ë§Œ,605,1060000,13864,í™”ì¥í’ˆì™• ë§Œë‚˜ì„œ ë„¤ê³ í•´ì™”ìŠµë‹ˆë‹¤ [ë„¤ê³ ì™•] Ep.11
1,3008234,2020. 11. 6.,3.9ë§Œ,1ì²œ,3780000,2918,ë¡œê¼¬ ì „ì—­í•˜ìë§ˆì ì—°í–‰ ìœ„ê¸°?! ğŸ’Šë¶€í„° ê¸ˆê´´ê¹Œì§€ ì„ ë„˜ëŠ” ë°€ìˆ˜í’ˆì— ëª¨ë“ ê±¸ ì˜ì‹¬í•˜ê²Œ ...
2,939751,2020. 11. 7.,1.4ë§Œ,225,2270000,1084,ğŸ•ºep.3-2 ì€ì´ˆë”© ì…ë§›ì„ ë§Œì¡±ì‹œí‚¨ ìµœê³ ì˜ ì•ˆì£¼ëŠ”?! #ì–¸ì œê¹Œì§€ì–´ê¹¨ì¶¤ì„ì¶”ê²Œí• ê±°ì•¼
3,1238319,2020. 11. 7.,3.4ë§Œ,684,2290000,3124,ì¥ë‚œì „í™” [ì´ëª‡ëª… ë‹¨í¸]
4,1798286,ìµœì´ˆ ê³µê°œ: 2020. 11. 6.,2ë§Œ\r\nì´ ë™ì˜ìƒì´ ë§ˆìŒì— ë“­ë‹ˆë‹¤.,408,1170000,1437,"ê°•í˜•ìš±ì´ íƒë‚¸ ì²œì¬ê²¬, ì‹ ë¹„ì˜ ê²¬ì¢… 3ê°œì›” íŒŒë¼ì˜¤ í•˜ìš´ë“œì™€ ì € ì„¸ìƒ í„°ê·¸ë†€ì´ | ê°•..."

In [6]:
df_1103.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2209140,NaN,2020. 11. 2.,NaN,1.9ë§Œ,NaN,553,NaN,28.1,NaN,12855,NaN,1.05
1,1971496,NaN,2020. 11. 2.,NaN,1.6ë§Œ,NaN,537,NaN,2060000,NaN,6776,NaN,1.27
2,977783,NaN,2020. 11. 2.,NaN,7.6ì²œ,NaN,264,NaN,19.3,NaN,1634,NaN,2.56
3,536577,NaN,2020. 11. 2.,NaN,6.7ì²œ,NaN,294,NaN,660000,NaN,1190,NaN,7.18
4,889145,NaN,2020. 11. 2.,NaN,6.7ì²œ,NaN,303,NaN,56.8,NaN,2013,NaN,1.22